body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3 {
    color: #333;
    
}

.text-left {
    text-align: left;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

.container h2{
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.bebidas img {
    margin-bottom: 1rem;
}

.comidas img {
    margin-bottom: 1rem;
}

.en-casa img {
    margin-bottom: 1rem;
}

.bebidas, .comidas, .en-casa {
    padding: 2rem 0;
}

.bebidas .col-md-4, .comidas .col-md-4, .en-casa .col-md-6 {
    margin-bottom: 1.5rem;
}

.line-container {
    text-align: left;      
    margin-bottom: 2rem;    
    width: 100%;             
}

.line {
    height: 1px;
    background-color: #949191;
    display: block;
    width: 100%;            
    margin: 0.5rem 0;        
}

.line-container span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    display: block;
    margin: 0.5rem 0;     
}

.image-container {
    display: inline-block; 
    background-color: rgb(24, 57, 45);
    border-radius: 50%;
    width: 160px; 
    height: 160px; 
    position: relative; /* Necesario para efectos de hover */
    text-align: center; 
    padding: 10px;
    border: 10px solid transparent;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-container:hover{
   
    border: 10px solid rgb(202, 240, 230);
}

.bebidas .col-md-4 .image-container img {
    margin-bottom: 1rem;
}

.comidas .col-md-4 .image-container img {
    margin-bottom: 1rem;
}

.en-casa .col-md-6 .image-container img {
    margin-bottom: 1rem;
}


/* Optional: Responsive Design */
@media (max-width: 768px) {
    .col-md-4, .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
} 
